extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.svg', width='160')
		h1 Welcome
		p This is the website for students that are taking part in the newspaper article translation stage. It shows you how many translations you have done so far.
		p If you think that there are any mistakes please get in touch.
	.page-content: .container 
		if students.length && process.env.FEEDBACK == 'students'
			.tile: table.table.table-striped
				col(width='25%')
				thead.panel-heading
					tr
						th Matricola
						th Total
						th Last Translation
				tbody
					each student in students
						tr
							if student.isTeacher
								td Untranslated
							else
								td= student.matricola
							td= student.translationCount
							td= student.lastTranslation ? moment(student.lastTranslation).format("DD/MM/YYYY") : ""
		else
			h3.text-muted There is no information to show yet.
